
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Welcom in shop!</h2>

<nav id="left-container" class="nav navbar-left">
    <ul class="nav navbar-brand left">
        <li><a>Category</a></li>
        <li><a>Category</a></li>
        <li><a>Category</a></li>
        <li><a>Category</a></li>
        <li><a>Category</a></li>
    </ul>
</nav>

<nav id="main-container" class="nav navbar-brand jumbotron text-center" style="background-color:darkgray">

    <h1>Add Carousel Here</h1>

    <div>Here add Items</div>
    <div>Here add Items</div>
    <div>Here add Items</div>
</nav>

<nav id="right-container" style="background-color:darkorange" class="nav navbar-right">
    <ul >
        <li><a>Category</a></li>
        <li><a>Category</a></li>
        <li><a>Category</a></li>
        <li><a>Category</a></li>
        <li><a>Category</a></li>
    </ul>
</nav>