<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header item">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">

                    <img src="~/Content/Images/Logo_min.png" />
                    Company
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../navbar/"><span class="glyphicon glyphicon-globe"> Language</span></a></li>
                    <li><a href="../navbar-static-top/"><span class="glyphicon glyphicon-user"> Profile</span></a></li>
                    <li><a href="./"><span class="glyphicon glyphicon-shopping-cart"> Cart</span><span id="cart-item" style="display:none"> :0</span></a></li>
                </ul>


                <div id="search" style="margin-top:10px; margin-right:20px" class="navbar-right">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="search" name="name" value="What you want?" />
                    <input type="button" name="Search" value="Search" />
                </div>
            </div>



        </div>
    </nav>

    <div id="body" class="container body-content">
            @RenderBody()
    </div>

    <footer id="footer" class="container">



        <div class="row">
            <div class="col-md-3">
                <ul class="nav navbar-link navbar">
                    <li><a href="">About</a></li>
                    <li><a href="">Home</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Location</a></li>
                    <li><a href="">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-3">2</div>
            <div class="col-md-3">3</div>
            <div class="col-md-3 text-center">

                <a class="btn btn-social-icon btn-facebook"><i class="fa fa-facebook">::before</i></a>

                <ul class="nav navbar-brand navbar-right">
                    <li><a class="btn btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a></li>
                    <li><input type="button" class="btn-facebook"/></li>
                    <li><span class="glyphicon glyphicon-globe"><a href="">Google+</a></span></li>
                    <li><span class="glyphicon glyphicon-globe"><a href="">Instagram</a></span></li>
                </ul>
            </div>
        </div>





    </footer>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>